
$palette-1: #f6f4dd;
$palette-2: #acd8dd;
$palette-3: #c6522d;
$palette-4: #4d2b19;

$white: #ffffff;
$black: #333333;

 //SPACING
$spacing-8px: 8px;
$spacing-16px: 16px;
$spacing-24px: 24px;
$spacing-32px: 32px;
$spacing-40px: 40px;
$spacing-48px: 48px;
$spacing-56px: 56px;
$spacing-64px: 64px;
$spacing-72px: 72px;
$spacing-80px: 80px;
$spacing-88px: 88px;
$spacing-96px: 96px;
$spacing-104px: 104px;
$spacing-112px: 112px;
$spacing-120px: 120px;
$spacing-128px: 128px;
$spacing-136px: 136px;
$spacing-144px: 144px;
$spacing-152px: 152px;
$spacing-160px: 160px;
$spacing-168px: 168px;
$spacing-176px: 176px;
$spacing-184px: 184px;
$spacing-192px: 192px;

// BORDER RADIUS
$border-radius-4px: 4px;
$border-radius-8px: 8px;
$border-radius-16px: 16px;

// SHADOW
$shadow-1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-2: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-3: 0px 4px 4px rgba(0, 0, 0, 0.25);